
.mb-5 {

	margin-bottom: 5px !important;
}

.w-big {
	width: 200px !important;
}

.bwhite-lg {
	background-color: transparent !important;

}
.bwhite-sm {
	background-color: transparent !important;
	width: 10px !important;

}

.comment-box {
	display: none;
}